  <div class="row">
    <div class="col-sm-5"  id="school" >
        <div class="card">
          <div class="card-body">
            <h6 class="education-subtitle mb-2 text-muted">2018 | Current</h6>
            <h5 class="education-title">Fontys University of Applied Sciences</h5>
            <div class="education-text">   
              ICT and software.
              <p> I obtained Propaedeutic certificate within my first year of study. 
                My average overall grade was around 8.3 although the fact that I had no previous experience in the fiend of ICT.</p>
             </div>
            </div> 
        </div>
      </div>


        <div class="col-sm-5" id="school" >
        <div class="card">
          <div class="card-body">
            <h6 class="education-subtitle mb-2 text-muted">2014 | 2018</h6>
            <h5 class="education-title">School of Mathematics</h5>
            <div class="education-text">   
              In the course of my study I was prepared for higher education in the fields of mathematics,
               informatics, and information technologies - lessons in IT, Mathematics, Physics, Bulgarian, English, etc.
             </div>

             </div>
    </div> 
</div>


</div>