
<div class="main">
<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <div class="view">
                    <img  class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
                    <a href="#!">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                <h3>Smth </h3>
                <p>Hello nice to meet yiu 
                    asjnoasndflndslkfndskj
                    ajsfnjnsdfkjnsdkjnfk   
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <div class="view view-cascade overlay">
                    <img  class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
                    <a href="#!">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                <h3>Smth </h3>
                <p>Hello nice to meet yiu 
                    asjnoasndflndslkfndskj
                    ajsfnjnsdfkjnsdkjnfk   
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <div class="view view-cascade overlay">
                    <img  class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
                    <a href="#!">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                <h3>Smth </h3>
                <p>Hello nice to meet yiu 
                    asjnoasndflndslkfndskj
                    ajsfnjnsdfkjnsdkjnfk   
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <div class="view view-cascade overlay">
                    <img  class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
                    <a href="#!">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                <h3>Smth </h3>
                <p>Hello nice to meet yiu 
                    asjnoasndflndslkfndskj
                    ajsfnjnsdfkjnsdkjnfk   
                </p>
            </div>
        </div>
    </div>

</div>
</div>


