html, body { height: 100%; background-color: #fff;} 
/* IMPORTANT */


div.main{
    width:100%;
    height:100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: white;
    /* background-color: pink; */
}
.card{
    display: inline-block;
    color: black !important;
    padding-top: 7pt; 
    border:none;
    margin-left:10pt;
    overflow-y: hidden; 

    display: flex;
    flex-direction:row;
    /* when zooming in/out */
}
div.col-9{
    height:250px;
    border-left: 1px solid #28313b;
    border-right: 1px solid #28313b;
    /* border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      #485461, 
      rgba(0, 0, 0, 0)
    /* ) 1 100%; */
    padding-top: 2pt; 
}
.col-3{
    height:220px;
    width:100%;
    display: flex;
}

h5{
    font-weight: bold;
}

.border-tabs .mat-tab-header {
    border-top: 1px solid #28313b;
    border-bottom: 1px solid #28313b;
}

.mat-ink-bar {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.mat-tab-label {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    min-width: 300px !important;
    font-size: 16px;
    color: black !important;
}
path{
    fill:url(#main);
}
path:hover {
     fill:url(#sec);
}
h5:hover{    
    background: -webkit-linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

