
html, body { height: 100%; background-color: #fff;} 
/* IMPORTANT */


div.main{
    width:100%;
    height:100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #fff; 

}
img{
    width:100px;
    height:100px;
}
div.cardAng{
    border: none;
    border-radius: 0;
}
div.card{
    padding-left:20pt;
    padding-right: 20pt;
    border: none;
    border-radius: 0;
    background: #fff;
}
h5{
    font-weight: bold;
}

::ng-deep .mat-step-header .mat-step-icon {
    background-color: #e7edf7;
    pointer-events: none !important;
}

div.stepper{
    color:black;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: 1px solid;
}