
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="row" id="main-row">
    <div class="col-sm-3" id="skill">
        <div class="card">

            <div class="card-body">
                <div class="education-title">
                    <div class="row" id="title">
                        <div class="col-sm-3">
                                <i class="material-icons" >computer</i> 
                        </div>
                        <div class="col-sm-8">
                              <h5>  Programming</h5>
                        </div>
                    </div>
                </div>

                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      C#
                      <span class="badge badge-primary badge-pill">99%</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Java
                      <span class="badge badge-primary badge-pill"> 60%</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Kotlin
                      <span class="badge badge-primary badge-pill">70%</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        C++
                      <span class="badge badge-primary badge-pill">25%</span>
                    </li>
                  </ul>

            </div>
        </div>
</div>

<div class="col-sm-3" id="skill">
    <div class="card">

        <div class="card-body">
            <div class="education-title">
                <div class="row">
                    <div class="col-sm-3">
                            <i class="material-icons">website</i> 
                    </div>
                    <div class="col-sm-8">
                          <h5>Web</h5>
                    </div>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    JavaScript, PHP
                  <span class="badge badge-primary badge-pill">75%</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Angular, Laravel
                  <span class="badge badge-primary badge-pill"> 70%</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    React Js, Vue Js
                  <span class="badge badge-primary badge-pill">40%</span>
                </li>
              </ul>
        </div>
    </div>
</div>

<div class="col-sm-3" id="skill">
    <div class="card">

        <div class="card-body">
            <div class="education-title">
                <div class="row">
                    <div class="col-sm-3">
                            <i class="material-icons">person</i> 
                    </div>
                    <div class="col-sm-8">
                          <h5>Database</h5>
                    </div>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    MySql, Sql
                  <span class="badge badge-primary badge-pill">85%</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Firebase 
                  <span class="badge badge-primary badge-pill"> 99%</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                     MongoDB  
                  <span class="badge badge-primary badge-pill">50%</span>
                </li>
            </ul>               
        </div>
    </div>
</div>


</div>


