.sidenav-container {
  height: 100%;
  color:white;
}

a {
  /* font-family: "Trebuchet MS", Helvetica, sans-serif; */
  font-size: 16px !important;
  color:white !important;
}
hr{
  background-color: white;
}
  
div.name {
    font-weight: bold;
    font-size:20px;
    text-align: center;
    padding-top: 10px;
    color:white;
}

div.details{
  text-align: center;
  color:white;
  font-size:14px;
}  
.center {
    margin: auto;
    padding: 22px;
}

.sidenav {
  width: 225px;
  border:none;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
