

<div class="education">
    <div class="education-body">
      <div class="row d-flex justify-content-center">
    
            <div class="col-5">
            <h6 class="education-subtitle mb-2 text-muted">2018 | Current</h6>
            <h5 class="education-title">Fontys University of Applied Sciences</h5>
            <div class="education-text">   
              Face problems with smile texton the card title and make up the bulk of the card's content.
              <p>Hi, I am Denitsa Pavlova. Currently I am student at Fontys University of Applied Sciences.
                   I have experience with js and php-based framworks and programming languages like C#, Java, Kotlin.
                   During my study I have done several projects including this portfolio- using Angular. I have an an internship 
             </div>
            </div> 

          <div class="col-5">
            <h6 class="education-subtitle mb-2 text-muted">2014 | 2018</h6>
            <h5 class="education-title">School of Mathematics</h5>
            <div class="education-text">   
sdlml
             orks and programming languages like C#, Java, Kotlin.
                   During my study I have done several projects including this portfolio- using Angular. I have an an internship 
             </div>
            </div> 
          </div>

</div>
</div>