
.col-5:hover{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    border-image-slice: 1;
}
.education{
        display: inline-block;
        color: black !important;
        padding: 20px; 
        margin: 15px;
        overflow-y: hidden;  
        overflow-x: hidden;  

        display: flex;  
        flex-direction:row;

        /* when zooming in/out */
}
.col-5{
    font-family: "Trebuchet MS", Helvetica, sans-serif;

    margin:3pt;
    padding: 15pt;
    border-top: 1px solid #28313b;
    border-bottom: 1px solid #28313b;
}
h5:hover{    
    background: -webkit-linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h5{
    font-weight: bold;
}

